
body {
    background-color: rgb(59, 196, 241);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
}

h1{
    color: blue;
    background-color: lightblue;
}

h2{
    color: blueviolet;
}